<% include _header %>
<div class="container">
  <% if (msg.content) { %>
    <% if (msg.type == 'info') { %>
      <div class="alert alert-success">
        <%= msg.content %>
      </div>
    <% } else { %>
      <div class="alert alert-danger">
        <%= msg.content %>
      </div>
    <% } %>
  <% } %>
  <form method="get" action="/job_edit">
    <div class="insert_btn">
        <input type="hidden" name="userId" value=<%= userId %>></input>
        <input class="btn-primary" type="submit" value="求人作成"></input>
    </div>
  </form>
  <h2>求人情報</h2>
  <% if (recruitingJobs.length > 0) { %>
    <table class="table table-striped table-hover info">
      <thead>
        <tr>
          <th>ID</th>
          <th>会社名</th>
          <th>概要</th>
        </tr>
      </thead>
      <% for(var job of recruitingJobs) { %>
        <tr>
          <th width="5%"><%= job.id %></th>
          <td width="40%"><%= job.name %></td>
          <td><%= job.description %></td>
        </tr>
      <% }; %>
    </table>
  <% } else { %>
    <p>現在求人はしていません。</p>
  <% } %>
  <h2>応募者情報</h2>
  <% if (apply.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th>仕事ID</th>
          <th>仕事名</th>
          <th>応募者名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for (var apply of applies) { %>
        <tr>
          <td><%= apply.jobId %></td>
          <td><%= recruitingJobs[apply.jobId].name %></td>
          <td><%= user[apply.userId].name %></td>
          <td><a href="/applicant?applyId=<%= apply.id %>">詳細</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  <% } else { %>
    <p>現在応募者はいません。</p>
  <% } %>
</div>
<% include _footer %>
