<% include _header %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
var days = ["日", "月", "火", "水", "木", "金", "土"];
var timeMax = 24 * 60;
var freetimes = [
	<% for (var item of freetimes) { %>
		[
			<%= item.day %>,
			<%= item.timecode_from %>,
			<%= item.timecode_to %>
		],
	<% } %>
];

var jobs = [
	<% for (var item of jobs) { %>
		{
			day: <%= item.day %>,
			timecode_from: "<%= item.timecode_from %>",
			timecode_to: "<%= item.timecode_to %>",
			name: "<%= item.work_name %>",
      description: "<%= item.description %>",
      imageUrl: "<%= item.imageUrl %>",
			id: <%= item.job_id %>,
			rate_name: "<%= item.name %>",
			rate_req: "<%= item.reqRate %>",
		},
	<% } %>
];

var rates = [
	<% for (var item of rates) { %>
		{
			name: "<%= item.name %>",
			rate: "<%= item.rate %>",
			created_at: "<%= item.created_at %>",
		},
	<% } %>
];

function goToByScroll(id){
      // Scroll
    $('html,body').animate({
        scrollTop: $("#"+id).offset().top},
        'slow');
}

onload = function(){
$(window).resize(function(){
  drawRateChart();
});
drawRateChart();

	var tlRow = $("#tlrow");
	for(var i = 1; i < 8; i++){
		var dayId = i % 7;
		var dayStr = days[dayId];
		tlRow.append(
				$('<div/>', {class: "tt-header col-md-1 col-lg-1"}).text(dayStr)
				);
		tlRow.append(
				$('<div/>', {class: "tt-timeline col-md-11 col-lg-11", id: "tl" + dayId})
					.click(function(e){
						var targetId = e.target.id.replace("tl", "");
                        if (!targetId) {
                            targetId = e.target.parentElement.id.replace("tl", "");
                        }
						goToByScroll("jobs" + targetId);
					})
				);
	}
	//
	for(var v of freetimes){
		var e = $("#tl" + v[0]);
		var leftStr = (v[1] / timeMax * 100) + "%";
		var widthStr = ((v[2] - v[1]) / timeMax * 100) + "%";
		e.append(
				$("<div>", {class: "tt-freetime", style: "left:" + leftStr, width: widthStr}));
/*
				.append(
					$("<span>", {class: "badge"}).text(2)))
*/
	}

	for(var v of jobs){
		var e = $("#tl" + v.day);
		var leftStr = (v.timecode_from / timeMax * 100) + "%";
		var widthStr = ((v.timecode_to - v.timecode_from) / timeMax * 100) + "%";
		e.append(
				$("<div>", {class: "tt-jobs", style: "left:" + leftStr, width: widthStr}))
	}

	var jobRow = $("#jobs");
	for(var i = 1; i < 8; i++){
		var dayId = i % 7;
		var dayStr = days[dayId];
		var jobsDiv = $('<div>', {class: "mt-3"});
		jobsDiv.append($('<h2>', {id: "jobs" + dayId}).text(dayStr + "曜日"));
		var jobsDivRow = $('<div>', {class: "d-flex flex-wrap justify-content-center"});
		jobRow.append($('<div/>').append(jobsDiv));
		var timecode2str = function(tc){
			return Math.floor(tc / 60) + "時" + tc % 60 + "分";
		}
		var durStr = timecode2str(v.timecode_from) + "から" + timecode2str(v.timecode_to);
		for(var v of jobs){
      if(v.day != dayId) continue;
			jobsDivRow.append(`
<div class="p-1 d-flex">
<div class="card p-2 rounded bg-light" style="width: 20rem;">
  <img class="card-img-top mb-2" src="${v.imageUrl}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">${v.name}</h4>
    <h6 class="card-subtitle mb-2 text-muted">${v.description}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-light">必要レート: ${v.rate_name}</li>
    <li class="list-group-item bg-light">${v.rate_req} 以上</li>
    <!--li class="list-group-item bg-light">Vestibulum at eros</li-->
  </ul>
  <div class="card-block mt-2">
    <a href="${"./job_info?id=" + v.id}" class="btn btn-primary">応募する</a>
  </div>
</div>
</div>
			`);
		}
		jobsDiv.append(jobsDivRow);
	}
}

</script>
<script type="text/javascript">
function drawRateChart(){
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
		var names = [];
		var lastValue = {};
		for(var e of rates){
			var found = 0;
			for(var k of names){
				if(k == e.name) found = 1;
			}
			if(!found){
				names.push(e.name);
			}
		}
		var data = new google.visualization.DataTable();
		data.addColumn('date', '日時');
		for(var e of names){
			data.addColumn('number', e);
		}
		var ary = [];
		for(var e of rates){
			var row = [new Date(e.created_at)];
			for(var k of names){
				if(k == e.name){
					row.push(parseInt(e.rate));
					lastValue[k] = parseInt(e.rate);
				} else{
	 row.push(null);
				}
			}
			ary.push(row);
		}
		console.log(ary);
		data.addRows(ary);
        var options = {
          title: 'レーティング推移',
          hAxis: {title: '日付',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0},
		  interpolateNulls: true,
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
}
</script>
<div class="container">
<h2>プロフィール</h2>
<div class="mt-2"><a class="btn btn-primary" href="user_edit">登録情報変更</a></div>
<div class="mt-2" id="chart_div" style="width: 100%; height: 500px;"></div>
<h2 class="mt-4">求人タイムライン</h2>
<div id="tlrow" class="row"></div>
<h2 class="mt-4">求人一覧</h2>
<div id="jobs"></div>
</div>
<% include _footer %>
