<% include _header %>
<div class = "panel panel-default" style="">
    <div class = "panel-heading">
        <h4 class = "panel-title">Evaluation</h4>
    </div>

    <div class = "panel-body">
        <form class ="panel-form" method = "POST" action="/rate">
            <input type="hidden" name="applyId" value=<%= applyId %>></input>
            <filedset>
                <% categoryName.forEach(function(category){ %>
                <h5 style="margin: 5px 0"><%= category %></h5>
                <div class="btn-group" data-toggle="buttons">
                    <% for (var i = 0; i < 10; i++) {if(i===0){ %>
                    <label class="btn btn-success active" style="border: #bfd3c1 1px solid;"><% }else{ %>
                    <label class="btn btn-success" style="border: #bfd3c1 1px solid;"><% } %>
                        <input type="radio" name="<%= categoryId[category] %>" autocomplete="off" value="<%= i %>"> <%= i %>
                    </label><% } %>
                </div>
                <% }); %>
                <div class = "form-button" style="width: 25%; margin: 5px auto;">
                    <input class = "btn btn-lg btn-success btn-block" type = "submit" value = "Submit">
                </div>
            </fieldset>
        </form>
    </div>
    <div class = "panel-footing">
    </div>
</div>
<% include _footer %>
